[submodule "services/connection-manager"]
	path = services/connection-manager
	url = https://github.com/dimasjanee11/connection-manager.git
	branch = master
[submodule "services/device-manager"]
	path = services/device-manager
	url = https://github.com/dimasjanee11/device-manager.git
[submodule "services/history-writer"]
	path = services/history-writer
	url = https://github.com/dimasjanee11/history-writer.git
[submodule "services/web-frontend"]
	path = services/web-frontend
	url = git@github-dimasjanee11:dimasjanee11/web-frontend.git
